.header {
  @extend .jumbotron-fluid, .d-flex, .justify-content-center;
  background: $primary;
  height: 70%;
}

.header-container {
  @extend .container, .d-flex, .flex-column, .align-content-center, .justify-content-center, .text-center;
}

.logo {
  @extend .align-self-center;
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tagline {
  @extend .display-4;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}

@media screen and (max-width: 500px) {
  .header {
    height: 100%;
  }

  .logo {
    max-width: 200px;
  }

  .tagline {
    font-size: 30px;
  }
}