<section class="bullet-points">

    <div class="container-page">
        <div class="bp-header text-center">
            <h1>The future of internetmarketing is here.</h1>
            <p class="lead">Reach is the first blockchain that proposes a cross-platform solution to marketing that is beneficial to all parties involved. </p>
        </div>

        <hr />

        <div class="bp-row">
            <div class="col-md-4 text-center">
                <i class="fa fa-handshake-o"></i>
                <h3>Advertisement</h3>
                <p>An advertisement platform like Adwords</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-code-fork"></i>
                <h3>Distributed</h3>
                <p>A distributed adserving network (like mining)</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-bolt"></i>
                <h3>Experience</h3>
                <p>A new user experience of online marketing</p>
            </div>
        </div>

        <div class="bp-row">
            <div class="col-md-4 text-center">
                <i class="fa fa-user-secret"></i>
                <h3>Private</h3>
                <p>Less invasive client experience of advertisement</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-shield"></i>
                <h3>Protection</h3>
                <p>A way to protect your privacy against big business for the users</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-balance-scale"></i>
                <h3>Opt-in</h3>
                <p>A way to opt-in as a user to get paid for your time and data!</p>
            </div>
        </div>
    </div>
</section>